//menu links
@keyframes reveal {
    0% {
      transform: translate(0,100%);
    }
    100% {
      transform: translate(0,0);
    }
}

@keyframes blink {


    15%{
        color:inherit;
        text-shadow:inherit;
    }
    16%{
        color: #333;
        text-shadow: none;
    }
    17%{
        color:inherit;
        text-shadow: inherit;
    }
    18%{
        color: #333;
        text-shadow: none;
    }
    19%{
        color:inherit;
        text-shadow: inherit;
    }
    20%{
        color: #333;
        text-shadow: none;
    }
    21%{
        color:inherit;
        text-shadow: inherit;
    }

    49%{
        color:inherit;
        text-shadow:inherit;
    }


    50%{
        color:#333;
        text-shadow:none;
    }
    51%{
        color:inherit;
        text-shadow:inherit;
    }

    
    79% {
        color:inherit;
        text-shadow:inherit;
    }  
    80%   {
        color:#333;
        text-shadow:none;
    }
    81%{
        color:inherit;
        text-shadow:inherit;
    }
    82%{
        color:#333;
        text-shadow:none;
    }
    83% {
        color:inherit;
        text-shadow:inherit;
    }  
    84% {
        color:#333;
        text-shadow:none;
    }
    85% {
        color:inherit;
        text-shadow:inherit;
    }  
  }


  
@-webkit-keyframes bg-animation {
    0% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(-5%, -5%);
    }
    20% {
        transform: translate(-10%, 5%);
    }
    30% {
        transform: translate(5%, -10%);
    }
    40% {
        transform: translate(-5%, 15%);
    }
    50% {
        transform: translate(-10%, 5%);
    }
    60% {
        transform: translate(15%, 0);
    }
    70% {
        transform: translate(0, 10%);
    }
    80% {
        transform: translate(-15%, 0);
    }
    90% {
        transform: translate(10%, 5%);
    }
    100% {
        transform: translate(5%, 0);
    }
}

@keyframes bg-animation {
    0% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(-5%, -5%);
    }
    20% {
        transform: translate(-10%, 5%);
    }
    30% {
        transform: translate(5%, -10%);
    }
    40% {
        transform: translate(-5%, 15%);
    }
    50% {
        transform: translate(-10%, 5%);
    }
    60% {
        transform: translate(15%, 0);
    }
    70% {
        transform: translate(0, 10%);
    }
    80% {
        transform: translate(-15%, 0);
    }
    90% {
        transform: translate(10%, 5%);
    }
    100% {
        transform: translate(5%, 0);
    }
}



.space-holder {
    position: relative;
    width: 100%;
  }
  
  .sticky {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow-x: hidden!important;
  }
  
  .horizontal {
    position: absolute;
    height: 100%;
    will-change: transform;
  }
  
  .cards {
    position: relative;
    height: 50%;
    padding: 0 0 0 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    @media (min-width:1000px) {
      height: 100%;
      padding: 0 0 0 1em;
    }
  }
  .br-card {
    padding: 20px;
    position: relative;
    width: 350px;
    max-height: 500px;
    padding: 0 20px;
    gap: 2em;
    display: flex;
    flex-direction: column;
    margin-top: 10em;

    img{
        max-width:700px;
        max-height:400px;
    }

    @media (min-width:1000px) {
      padding: 0 120px;
      margin-top: 0;
      width: 700px;
    }

    &:after{
      content: "";
      height: 100%;
      width: 0.5px;
      background: #A7A7A7;
      right: 0;
      position: absolute;
    }

    &:last-of-type{
      &:after{
        display: none;
      }
    }


  }