button{
    cursor: pointer;
}


.btn--voiceOver{
    z-index: 999999999;
    height: 35px;
    width: 35px;
    padding: 11px;
    background-color: transparent;
    border: none;
    border: solid 0.5px white;
    border-radius: 50%;


}
    
#hide-intro{
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    background-color: transparent;
    font-family: 'montreal';
    color: #C5C5C5;
    border: none;
    height: 115px;
    width: 115px;
    border-radius: 100px;
    border: solid 0.5px rgb(255, 255, 255, 0.5);
}


.utils{
    position: fixed;
    bottom: 50px;
    left: 30px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 9999999999;

    .btn--lang{
        color: white;
        font-family: 'montreal';
        font-size: 16px;
        background: none;
        border: none;
    }
    
    .btn--sound{
        height: 35px;
        width: 35px;
        padding-top: 4px;
        background-color: transparent;
        border: none;
        border: solid 0.5px white;
        border-radius: 50%;
        transition: 0.5s;
    
    }
}