@font-face {
    font-family: 'gosha';
    src: url("./fonts/gosha/PPGoshaSans-Thin.ttf");
}
@font-face {
    font-family: 'montreal';
    src: url("./fonts/montreal/PPNeueMontreal-Thin.ttf"); 
}
@font-face {
    font-family: 'montreal bold';
    src: url('./fonts/montreal/PPNeueMontreal-Medium.ttf');
}
@font-face {
  font-family: 'right grotesk';
  src: url('./fonts/PPRightGrotesk-WideFine.ttf');
}

@font-face {
    font-family: 'eiko';
    src: url("./fonts/PPEiko/PPEiko-Thin.ttf");
}

@font-face {
    font-family: 'tequila';
    src: url("./fonts/TEQUILA_.ttf");
}