html{

    scroll-behavior: smooth;
    overflow-x: hidden!important;

}



#canvas3d{
  height: 100%!important;
  width:100%!important;
  overflow: hidden!important;
  position: fixed;
  // display: none;
  // height: 95%!important;
  // width:80%!important;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // border-radius: 50% / 10%;

}

.section--experience{
  height: 100vh;
}

body{

  min-height: 100%!important;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'montreal';
  background: #151515;
  color: white;
  line-height: 1.5;
  overflow-x: hidden!important;

}



.hidden{
  

    &--content{
      display: none;

      @media (min-width:700px) {
        display: inline;
        opacity: 0.5;
        font-family: 'montreal';

        &:hover{
          opacity: 1;
          transition: all .1s ease;


        }
      }
      
    }

    &--input{
      visibility: hidden;
      opacity: 0;
      transition: 1s ease-in;
    }
  
    &--desktop{
      display: flex;
      flex-direction: column;
      text-transform: uppercase;
      max-width: 20ch;
      align-items: center;
  
      .picto{
        height: 30px;
        width:100px;
        
      }
  
      @media (min-width:1000px) {
        display: none;
      }
  
    }
  
  }

.webgl{

    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 9;

}
.container{

    padding: 0 20px;

    @media (min-width:700px) {

        padding: 0 100px;

    }

    @media (min-width:1400px) {
        padding: 0 150px;
    }

}

.wrapper{
    
    position: relative;

    &--levels{
        min-height: 100vh;
    }

}

//SCROLLBAR

::-webkit-scrollbar {

    width: 6px;

}
  
::-webkit-scrollbar-track {

    background: transparent;

}
  
::-webkit-scrollbar-thumb {

    background: rgb(52, 52, 52);
    border-radius: 100px;

}
  
::-webkit-scrollbar-thumb:hover {

    background: rgb(153, 153, 153);


}


//MENU

header{

    position: fixed;
    opacity: 0;
    top: 0;
    z-index: 999;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;

    
}

nav{

  padding:15px;
  display: flex;
  justify-content: space-between;

  @media (min-width:1000px) {
    padding:30px;
  }
  
}
  
  