
.section {

    position: relative;
    //home screen
    &--home{
        position: relative;
        height: 100vh;
        display: flex;

        @media (min-width:1000px) {
            display: grid;
            grid-template-rows: auto;
        }
    }
    //intro
    &--about-intro{
        margin-top: 0;
        height: 100vh;
    }
    //origines
    &--about-origins{

        position: relative;   
        padding-top: 2000px; 
        height: 150vh;


        @media (min-width:1000px) {

            
        }
    }
    //begin
    &--about-start{
        position: relative;
    }
    //noclip
    &--about-noclip{
        // padding-top: 10em;
        // padding-bottom: 10em;
    }
    //univers
    &--about-univers{
        padding-top: 50px;
        position: relative;
  
        @media (min-width:1000px) {
          padding-top: 200px;
        }
    }
    //niveaux diff
    &--about-levels{
        position: relative;
    }
    //entites
    &--about-entities{
        position: relative;
        height: 100vh;
    }
    //fin de la hype
    &--about-endLore{
        
        height: 100vh;
        position: relative;

        .container{
            
            .bold{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

    }

    &--about-footage{
        height: 100vh;

        .container{
            h1{
                height: 100vh;
            }

            .kane-intro{
                height: 100vh;
                display: grid;
                grid-template-rows: auto;
                margin: 200px;

                .bold{
                    max-width: 45ch;
                }
            }

        }
    }

}