
//TEXTE
p{

  color: white;
  font-size: 16px;
  max-width: 45ch;
  letter-spacing: 0.5px;
  line-height: 1.5;

  @media (min-width:700px) {

      font-size: 18px;

  }

  @media (min-width:1000px) {

      font-size: 20px;

  }

}

//LINK

a{
  opacity: 0.5!important;
  color: white;
  text-decoration: none;
  font-family: "montreal";
  transition: .2s ease-in;

  &:hover{
    opacity:1!important;
    transition: .2s ease-in;
  }


}


//LINKS MENU
.nav-links{

  transition-delay: 0s;
  display: flex;
  justify-content: end;
  text-transform: uppercase;
  font-size: 30px;
  padding-top: 50px;
  padding-right: 100px;

  @media (min-width:1000px) {

    font-size: 200px;

  }

}



.bold{

    font-size: 18px;
    text-transform: uppercase;
    max-width: 55ch;
    line-height: 1.5;

    &--name{

      margin: 0;
      font-size: 18px;
      font-family: 'montreal bold';
      
    }

    @media (min-width:700px) {

      font-size: 27px;
    }

  }

  .bold-txt{
    font-family: 'montreal bold';
  }


  .strong{
    text-transform: uppercase;
    font-size: 24px;

    @media (min-width:1000px) {
        font-size: 50px;
    }
  }



  .title{

    color: white;
    margin: 0;
    line-height: 1.1;

    &--main{

      font-size: 74px;
      font-family: 'eiko';
      font-weight: 100;

      filter: drop-shadow(0 0 0.5rem rgb(255, 255, 255));

      @media (min-width:700px) {
        font-size: 118px;
        letter-spacing: 10px;
      }

      @media (min-width:1000px) {
        font-size: 148px;
        letter-spacing: 10px;
      }
    }

    &--submain{

      font-family: 'montreal';
      text-align: center;
      font-size: 20px;
      letter-spacing: 17px;
      text-transform: uppercase;

      @media (min-width:700px) {
        font-size: 24px;
        letter-spacing: 38px;
        padding-left: 10px;
      }

      @media (min-width:1000px) {

        letter-spacing: 49px;
        font-size: 30px;
        padding-left: 30px;

      }

    }

    &--big{

      font-size: 18px;
      letter-spacing: 10px;
      opacity: 0.5;
      text-transform: uppercase;
      display: flex;
      
      justify-content: center;
      align-items: center;


      @media (min-width:1000px) {
        font-size: 26px;
        letter-spacing: 20px;
      }

      @media (min-width:1000px) {
        font-size: 26px;
      }
      
    }

    &--medium{

        overflow: hidden;
        font-family: 'right grotesk';
        text-transform: uppercase;

        font-weight: 100;
        font-size: 66px;
        letter-spacing: 5px;

        padding: 0.5em 0;

        @media (min-width:1000px) {

          font-size: 187px;

        }
    }


    &--little{

      font-family: 'gosha';
      font-size: 26px;
      margin: 1em 0;

      @media (min-width:700px) {
        font-size: 28px;
      }

      @media (min-width:1000px) {
        font-size: 32px;
      }

    }

}



figcaption{
    display: flex;
    justify-content: flex-end;
    font-size: 24px; 
    opacity: 0.5;
}

figure{
  margin: 0;
  margin: 10em 2em;
}


blockquote{
    font-size: 24px;
    text-transform: uppercase;
    opacity: 0.5;
    margin: 0;
    line-height: 1.5;
  
    @media (min-width:1000px) {
      font-size: 50px;
    }
}

.lvl-number{
  text-transform: uppercase;
  
}


//text-fill

.message-wrapper.showmorecontent .clipmessage,
.message-wrapper.showlesscontent .readless {
  display: none;
}

.message-wrapper.showmorecontent .readmore {
  display: none;
}

.message-wrapper .readmore,
.message-wrapper .readless {
  font-weight: bold;
  margin-left: 2px;
  cursor: pointer;
}

.showmorecontent .clipmessage,
.showlesscontent .readless {
  display: block;
  transition: .2s ease-in;
}

.readless, .readmore{
  font-family: 'montreal bold';
  text-transform: uppercase;
  margin: 20px 0;
}