p{
    color: white;
    font-size: 16px;
    max-width: 50ch;
    letter-spacing: 0.5px;

    @media (min-width:700px) {
        font-size: 18px;
    }
    @media (min-width:1000px) {
        font-size: 20px;
    }
}

a{
    color: white;
    text-decoration: none;
    font-family: "montreal";
}

.nav-links{
    color: white;
    transition: .5s;
    transition-delay: 0s;
    display: flex;
    justify-content: end;
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 50px;
    padding-right: 100px;
  
    @media (min-width:1000px) {
      font-size: 200px;
    }
}


.bold{
    font-size: 20px;
    text-transform: uppercase;
    @media (min-width:1000px) {
      font-size: 28px;
    }
  }
  .strong{
    text-transform: uppercase;
    font-size: 24px;

    @media (min-width:1000px) {
        font-size: 50px;
    }
  }



  .title{
    color: white;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.1;

    &--main{
      font-size: 70px;
      font-family: 'eiko';
      // font-family: 'gosha';
      font-weight: 100;
      filter: drop-shadow(0 0 0.5rem rgb(255, 255, 255));

      @media (min-width:1000px) {
        font-size: 150px;
        letter-spacing: 10px;
      }
    }

    &--submain{
      font-family: 'gosha';
      text-align: center;
      font-weight: 100;
      font-size: 20px;
      letter-spacing: 17px;

      @media (min-width:1000px) {
        letter-spacing: 49px;
        font-size: 30px;
        padding-left: 30px;
      }
    }

    &--big{
      letter-spacing: 20px;
      opacity: 0.5;
      
    }

    &--medium{
        overflow: hidden;
        font-family: 'right grotesk';
        
        // font-family: 'cirka';
        font-weight: 100;
        font-size: 70px;
        letter-spacing: 5px;
        line-height: 1;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        @media (min-width:1000px) {
            font-size: 170px;
        }
        // .t1{
        //   text-align: left;
        //   margin: -10px;
        // }
        // .t2{
        //   text-align: center;
        //   // opacity: 0.50;
        //   margin: -10px;
        // }
        // .t3{
        //   text-align: left;
        // }
        // .t4{
        //   text-align: end;
        // }
    }
    &--little{
      margin-top: 50px;
      font-family: 'right grotesk';
      font-size: 25px;

      @media (min-width:1000px) {
        font-size: 80px;
      }
    }

    &--name{
      font-size: 18px;
      font-family: 'montreal bold';
      @media (min-width:1000px) {
        font-size: 24px;
      }
    }
}



figcaption{
    display: flex;
    justify-content: flex-end;
  }

figure{
  margin: 0;
  margin-bottom: 100px;
}


blockquote{
    font-size: 24px;
    text-transform: uppercase;
    opacity: 0.5;
    margin: 0;
    line-height: 1.5;
  
    @media (min-width:1000px) {
      font-size: 50px;
    }
}

.lvl-number{
  text-transform: uppercase;
  
}


//text-fill

.message-wrapper.showmorecontent .clipmessage,
.message-wrapper.showlesscontent .readless {
  display: none;
}

.message-wrapper.showmorecontent .readmore {
  display: none;
}

.message-wrapper .readmore,
.message-wrapper .readless {
  font-weight: bold;
  margin-left: 2px;
  cursor: pointer;
}

.showmorecontent .clipmessage,
.showlesscontent .readless {
  display: block;
  transition: .2s ease-in;
}

.readless, .readmore{
  font-family: 'montreal bold';
  text-transform: uppercase;
  margin: 20px 0;
}