
@import "style/typography" ;
@import "style/fonts";
@import "style/animations";
@import "style/buttons";
@import "style/global";
@import "style/section";
@import "style/images";



.bg {

  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  -webkit-animation: bg-animation 0.2s infinite;
          animation: bg-animation 0.2s infinite;
  opacity: 1;
  visibility: visible;
  z-index: -1;

}





.section--home{

    
    .container{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5em;
      padding-top: 5em;
    }

    .main-title{

        text-align: center;

        @media (min-width:1000px) {
          position: absolute;
          top: 35%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

    }

    .main-small{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        

        @media (min-width:1000px) {
          
          position: absolute;
          left: 50%;
          bottom: 50px;
          transform: translateX(-50%);
        }


        p{
          font-size: 14px;
          max-width: 75ch;
          font-weight: 100;
          
        }

        p:nth-child(2){
          margin-bottom: 2em;
        }
        
        
        .bold-txt{
          text-transform: uppercase;
          letter-spacing: 2px;
        }
    }
}




.origins-introduction{

  display: flex;
  flex-direction: column;
  gap: 30em;
  position: relative;

  h2{
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .icon-img{
      position: absolute;
      bottom: -150px;
      right: 10%;

      svg{
        height: 150px!important;
        width: 150px!important;

        @media (min-width:1000px) {
          height: 200px;
          width: 200px;
        }
      }

      @media (min-width:1000px) {
          bottom: 0;
          right: 20%;
      }

      
  }

}

.container-txt{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}



.footage__title{
  height: 100vh;
  position: relative;
}



.univers__title{
    height: 150vh;
    position: relative;
    h2{
      position: absolute;
      left: 50%;
      bottom: 40%;
      transform: translate(-50%, -50%);
    }
  }










//EXPERIENCE





.controls--fixed{
  position: fixed;
  z-index: 9999;
  opacity: 0.2;
  bottom: 50px;
  right: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  

  &__keyboard, &__mouse{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    div{
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
    img{
      width: 60px!important;
      height: 40px!important;
      :hover{
        opacity: 1;
      }
    }
    p{
      font-size: 14px;
      margin: 0;
      text-transform: uppercase;
    }
  }
}













// .intro {
//   position: absolute;
//   z-index: 99999;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: #0F0F0F;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   transition: ease 2s;
//   opacity: 1;

//   p{
//       font-size: 20px;
//       margin-bottom: 2rem;
//       max-width: 60ch;
//       color: #C5C5C5;
//   }

//   .br-author{
//       text-align: right;
//       font-family: 'montreal-italic';
//   }

// }









